.basket{
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: #C1DFC4;
    width: 430px;
    top: 0;
    left: 0;
    background-color: #4a9c8199;
    height: 1000px;
    z-index: 999;
}
.btnCloseBasket{
    width: 20px;
    height: 20px;
    background-color: rgba(186, 105, 105, 0.823);
}