.Header{
    display: flex;
    padding: 20px;
    background-color: #4a9c8199;
    align-items: center;
    border-radius: 10px;
    justify-content: space-between;
}
.BtnHeader{
    width: 70px;
    height: 40px;
    font-size: 20px;
    border: 2px solid #4A9C80;
    background-color: #4a9c8199;
    border-radius: 5px;
    color: white;
}
.input{
    width: 500px;
    height: 40px;
    font-size: 30px;
    border-radius: 15px;
}
.HeaderLogo{
    font-size: 30px;
    color: white;
}